@import '../../styles/variables';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: spin infinite linear 1s;
  width: 3rem;
  border: 0.25rem solid $dark-color;
  border-top-color: transparent;
}
